!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title Pace History
  body
    p Pace History
    table
      tbody
      each entry in results
        tr
          td= entry.time
          td= entry.value