!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    script(data-main="scripts/main", src="scripts/require.js")
    title Change the Pace
  body
    p
      input(type="text", name="room")
      button(id="join") Join Room
