!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    link(rel="stylesheet", href='/style/main.css', type="text/css")
    link(rel="stylesheet", href='/bower/font-awesome/build/assets/font-awesome/css/font-awesome.min.css', type="text/css")
    title Group Voting
  body
    div.controls
      div#gauge

      div#gauge-actions
        a(href="#", class="slower", data-vote="-1")
          i.icon-thumbs-down
        a(href="#", class="faster", data-vote="1")
          i.icon-thumbs-up
        span.count 1
        |  connected users

      - if(environment == "production")
        script(src="scripts/optimized.js")
      - else
        script(data-main="scripts/main", src="scripts/require.js")

    div#powered
      | Powered by 
      a(href="https://github.com/begriffs/groupthink", target="_blank") begriffs/groupthink
